.logo {
    height: 32px;
    margin: 16px;
    color: white;
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 1.3rem;
    margin-right: .5rem;
}

.logo span {
    font-size: 1.3rem;
    font-weight: bold;
}