.layout {
    min-height: 100vh;
}

.logo {
    height: 32px;
    margin: 16px;
    color: white;
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 1.3rem;
    margin-right: .5rem;
}

.logo span {
    font-size: 1.3rem;
    font-weight: bold;
}

.header {
    background-color: white;
    border-bottom: 1px solid rgb(0, 0, 0, .2);
}

.light__background {
    background: rgb(255, 255, 255);
}